@media(max-width: 580px) {
    body {
        justify-content: flex-start;
        margin-top: 3rem;
    }
    
    .player-panel span {
        font-size: 1.5rem;
    }

    .game-over {
        margin-top: 4rem;
        width: 100%;
        height: auto;
    }

    .restart-btn {
        margin-bottom: 3rem;
    }
}

@media(max-width: 500px) {
    .player-1, .player-2 {
        margin: 0 1rem;
    }

    table {
        width: 21rem;
        height: 21rem;
    }

    td {
        width: 7rem;
        height: 7rem;
    }

    table img {
        top: 1.2rem;
        left: 1rem;
        height: 5rem;
        width: 5rem;
    }

    .responsive-line-1 {
        width: 20rem;
        top: 3.5rem !important;
    }

    .responsive-line-2 {
        width: 20rem;
        top: 10.7rem !important;
    }

    .responsive-line-3 {
        width: 20rem;
        top: 18rem !important;
    }

    .responsive-line-4 {
        width: 20rem;
        top: 10.5rem !important;
        left: -6.5rem !important;
    }

    .responsive-line-5 {
        width: 20rem;
        top: 10.5rem !important;
        left: 0.5rem !important;
    }

    .responsive-line-6 {
        width: 20rem;
        top: 10.5rem !important;
        left: 7.6rem !important;
    }

    .responsive-line-7 {
        width: 26rem !important;
        top: 11rem !important;
        left: -2.2rem !important;
    }

    .responsive-line-8 {
        width: 26rem !important;
        top: 11rem !important;
        left: -2.2rem !important;
    }
}

@media(max-width: 365px) {
    .player-panel {
        display: block;
    }

    .player-panel span {
        font-size: 1.5rem;
    }

    .player-1, .player-2 {
        margin: 1rem 1rem;
    }

    table {
        width: 18rem;
        height: 18rem;
    }

    td {
        width: 6rem;
        height: 6rem;
    }

    table img {
        top: 1.2rem;
        left: 1rem;
        height: 4rem;
        width: 4rem;
    }

    .responsive-line-1 {
        width: 18rem;
        top: 3rem !important;
    }

    .responsive-line-2 {
        width: 18rem;
        top: 9.3rem !important;
    }

    .responsive-line-3 {
        width: 18rem;
        top: 15.5rem !important;
    }

    .responsive-line-4 {
        width: 17rem;
        top: 9.5rem !important;
        left: -5.5rem !important;
    }

    .responsive-line-5 {
        width: 17rem;
        top: 9.5rem !important;
        left: 0.5rem !important;
    }

    .responsive-line-6 {
        width: 17rem;
        top: 9.5rem !important;
        left: 6.6rem !important;
    }

    .responsive-line-7 {
        width: 22rem !important;
        top: 10rem !important;
        left: -1.2rem !important;
    }

    .responsive-line-8 {
        width: 22rem !important;
        top: 10rem !important;
        left: -2.8rem !important;
    }
}