body {
  background-image: url(./img/Brady\ Brady\ Fun\ Fun.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  font-family: 'Comic Neue', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.d-none {
  display: none;
}

.player-inactive {
  opacity: 0.3;
}

.rotate-45deg {
  transform: rotate(45deg);
}

table {
  height: 30rem;
  width: 30rem;
  border-collapse: collapse;
}

td {
  height: 10rem;
  width: 10rem;
  border: 7px solid rgb(0, 0, 0, 0.5);
  position: relative;
}

td:hover {
  cursor: pointer;
  background-color: rgba(181, 173, 255, 0.2);
}

table tr:first-child td {
  border-top: none;
}

table tr:last-child td {
  border-bottom: none;
}

table tr td:first-child {
  border-left: none;
}

table tr td:last-child {
  border-right: none;
}

table img {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  height: 7rem;
  width: 7rem;
}

.player-panel {
  display: flex;
  margin-bottom: 3rem;
}

.player-panel img {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.player-panel span {
  font-size: 2.5rem;
  color: blue;
}

.player-1 {
  display: flex;
  align-items: center;
  margin: 0 2.5rem;
}

.player-2 {
  display: flex;
  align-items: center;
  margin: 0 2.5rem;
}

.horizontal-line {
  width: 30rem;
  height: 0.3rem;
  background-color: rgb(255, 0, 0);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: scaleX(0);
  transition: transform 225ms ease-in-out;
}

.make-vertical {
  transform: rotate(90deg) scaleX(0);
}

.game-over {
  position: absolute;
  width: 35rem;
  height: 35rem;
  top: 0;
  z-index: 2;
  animation: zoomIn 225ms ease-in-out;
}

@keyframes zoomIn {
  from {
      opacity: 0;
      transform: scale(0);
  }

  to {
      opacity: 1;
      transform: scale(1);
  }
}

.restart-btn {
  color: white;
  background-color: blue;
  z-index: 3;
  padding: 0.5rem 1.5rem;
  font-family: 'Comic Neue', cursive;
  font-size: 1.5rem;
  border: none;
  margin-top: 1rem;
}

.restart-btn:hover {
  cursor: pointer;
  background-color: rgb(70, 70, 255);
}

.winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  font-size: 1.5rem;
  color: blue;
}